<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Clubs available</title>
</head>
<body>
<h1>Club List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Coach</th>
        <th>Location</th>

    </tr>
    <tr th:each="club : ${clubs}">
        <td th:text="${club.id}">123</td>
        <td th:text="${club.name}">Spring in Action</td>
        <td th:text="${club.coach.firstName}">Wrox</td>
        <td th:text="${club.location}">Wrox</td>
        <td th:text="${club.players}">Wrox</td>


    </tr>
</table>

</body>
</html>