<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Coaches available</title>
</head>
<body>
<h1>Coach List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Nationality</th>

    </tr>
    <tr th:each="coach : ${coaches}">
        <td th:text="${coach.id}">123</td>
        <td th:text="${coach.firstName}">Spring in Action</td>
        <td th:text="${coach.lastName}">Wrox</td>
        <td th:text="${coach.nationality}">Wrox</td>

    </tr>
</table>

</body>
</html>